<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993875841978-0qeai94phfr4pf8kid7b3ts6jo40d36p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993875841978-0qeai94phfr4pf8kid7b3ts6jo40d36p</string>
	<key>API_KEY</key>
	<string>AIzaSyC25UAZwvYOFuFfO4ZlDNvBqQVyaa48lAE</string>
	<key>GCM_SENDER_ID</key>
	<string>993875841978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.muralhaInteligenteApp</string>
	<key>PROJECT_ID</key>
	<string>muralha-inteligente-49fc7</string>
	<key>STORAGE_BUCKET</key>
	<string>muralha-inteligente-49fc7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993875841978:ios:bce3dbe258b77e2dbf0383</string>
	<key>DATABASE_URL</key>
	<string>https://muralha-inteligente-49fc7-default-rtdb.firebaseio.com</string>
</dict>
</plist>